<launch>
<param name="robot_description" textfile="$(find mrobot_description)/urdf/mrobot.urdf"/>

<param name="use_gui" value="true"/>

<node name="joint_state_publisher" pkg="mrobor_description" type="joint_state_publisher"/>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d  $(find mrobot_description)/config/mrobot_urdf.rviz" required="true"/>

</launch>


